<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Resources.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Resources.Properties.Settings>
            <setting name="FileStorageLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="IsLocal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DBType" serializeAs="String">
                <value>MySQL</value>
            </setting>
            <setting name="ConnectionString4MySQL" serializeAs="String">
                <value>server=127.0.0.1;port=3306;database=FilesExplorerDB;uid=root;password=admin9647;sslmode=none;AllowPublicKeyRetrieval=true;</value>
            </setting>
            <setting name="ConnectionString4MSSQL" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=C:\USERS\HUANG\DOCUMENTS\FILESEXPLORERINDB.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
            <setting name="ConnectionString4Oracle" serializeAs="String">
                <value>User Id=&amp;quot;dbo&amp;quot;;Password=admin9112;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.68.240)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl))) </value>
            </setting>
            <setting name="ConnectionString4MongoDB" serializeAs="String">
                <value>mongodb://127.0.0.1:27017</value>
            </setting>
            <setting name="RootFolderId" serializeAs="String">
                <value>648f3522-178a-4646-8d00-55dcff2b2a1b</value>
            </setting>
        </Resources.Properties.Settings>
    </userSettings>
</configuration>