<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FilesExplorerInDB_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practces/2010/unity">
    <container name="FirstClass">
      <!--<register type="命名空间.接口 , DLL文件的名称" mapTo="命名空间.类 , DLL文件的名称"/>-->
      <register type="FilesExplorerInDB_Models.Interface.IProperty,FilesExplorerInDB_Models" mapTo="FilesExplorerInDB_Models.Models.ExplorerProperty,FilesExplorerInDB_Models" />
      <!--<register type="FilesExplorerInDB_EF.Interface.IFilesDB,FilesExplorerInDB_EF" mapTo="FilesExplorerInDB_EF.EFModels.FilesDB,FilesExplorerInDB_EF" />-->
      <register type="FilesExplorerInDB_EF.Interface.IFiles,FilesExplorerInDB_EF" mapTo="FilesExplorerInDB_EF.EFModels.Files,FilesExplorerInDB_EF" />
      <register type="FilesExplorerInDB_EF.Interface.IFolders,FilesExplorerInDB_EF" mapTo="FilesExplorerInDB_EF.EFModels.Folders,FilesExplorerInDB_EF" />
      <register type="FilesExplorerInDB_Manager.Interface.IFilesDbManager,FilesExplorerInDB_Manager" mapTo="FilesExplorerInDB_Manager.Implements.FilesDbManager,FilesExplorerInDB_Manager" />
      <register type="FilesExplorerInDB_Manager.Interface.IMonitorManager,FilesExplorerInDB_Manager" mapTo="FilesExplorerInDB_Manager.Implements.MonitorManager,FilesExplorerInDB_Manager" />
      <register type="FilesExplorerInDB_Manager.Interface.IFileIcon,FilesExplorerInDB_Manager" mapTo="FilesExplorerInDB_Manager.Implements.FileIcon,FilesExplorerInDB_Manager" />
      <!-- Microsoft SQL Server && Oracle -->
      <register type="FilesExplorerInDB_EF.Interface.IFilesDbService,FilesExplorerInDB_EF" mapTo="FilesExplorerInDB_EF.Implements.FilesDbService,FilesExplorerInDB_EF" />
      <register type="FilesExplorerInDB_EF.Interface.IMonitorService,FilesExplorerInDB_EF" mapTo="FilesExplorerInDB_EF.Implements.MonitorService,FilesExplorerInDB_EF" />
      <!-- MongoDB -->
      <!--<register type="FilesExplorerInDB_EF.Interface.IMonitorService,FilesExplorerInDB_EF" mapTo="FilesExplorerInDB_MongoDb.Implements.MonitorMongoDbService,FilesExplorerInDB_MongoDb" />
      <register type="FilesExplorerInDB_EF.Interface.IFilesDbService,FilesExplorerInDB_EF" mapTo="FilesExplorerInDB_MongoDb.Implements.FilesDbMongoDbService,FilesExplorerInDB_MongoDb" />-->
    </container>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.10.3.0" newVersion="5.10.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.24.0.0" newVersion="0.24.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!-- MongoDB -->
    <add name="FilesDB_MongoDB" connectionString="mongodb://127.0.0.1:27017" />
    <!-- Microsoft SQL Server -->
    <!--<add name="FilesDB" connectionString="data source=疯犊翩翩;initial catalog=FilesExplorerDB;persist security info=True;user id=sa;password=sasasa;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="FilesDB" connectionString="Data Source=193.112.11.101;initial catalog=FilesExplorerDB;persist security info=True;User ID=sa;Password=Admin9647;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!-- Oracle -->
    <!-- 建议使用用户名"dbo"，因为SQL的默认Schema为dbo，为方便MSSQL到Oracle的切换，Oracle数据库中也应该有名为"dbo"的用户 -->
    <!-- 若使用其他Oracle用户名，需要在EF模型的OnModelCreating方法中指定对应的用户名 -->
    <!-- &quot; 该字符串为XML写法下的 双引号  -->
    <!--<add name="FilesDB" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=&quot;dbo&quot;;Password=admin9112;Data Source=order_db" />-->
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <FilesExplorerInDB_WPF.Properties.Settings>
      <setting name="FileStorageLocation" serializeAs="String">
        <value />
      </setting>
    </FilesExplorerInDB_WPF.Properties.Settings>
  </userSettings>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <!-- Oracle -->
        <dataSource alias="order_db" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.68.240)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl))) " />
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>